page-cover {
    h3{
        position: relative;
        font-size: 8vh;
        top: 10% ;
        color :cornflowerblue;
  
    }
    .container{
        background-color: whitesmoke;
        position: fixed;
    }
    .star{
        position: absolute;
        border-right: 330px solid white;
        border-bottom: 250px solid white;
        border-top: 100px solid transparent;
        top: 70%;
        left: 50%;
        margin-top: 10%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
   
  

    #secondmain{
        position: fixed;
        top: 70%;
        left: 50%;
       -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
       width: 82%;
      
    }
  
  
  
    ion-icon{
        font-size:100px;
        color:cornflowerblue;
        padding-top: 25%;
        padding-left: 35%;
    }
  
  .btn{
      margin-left:6%;
  }
  

}